doctype html
html(ng-modules='chatApp', ng-controller='ChatCtrl')
  head
    meta(charset='utf8')
    base(href='/')
    title vScrum
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
