/* app css stylesheet */

.overflowable {
  height: 240px;
  overflow-y: auto;
  border: 2px solid #000;
}

.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}

.alert {
	font-weight:bold;
}

#scrumboard {
	border: 2px inset #000;
}